.App {
  text-align: center;
}

.list{
list-style-type:none;
text-align: left;
}
.id{
  font-weight: bold;
}
 .btn{
   background-color: grey;
 }
 .activebtn{
   background-color: yellowgreen;
 }






